<h1>Home Page </h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content"  cols="38" rows="10" ></textarea>
        <button type="submit">Submit</button>
    </form>
</section>

  
