<h1>sign in</h1>
<form action="/users/create-session" method ="POST">
    <input type="email" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="your password" required>
    <button type="submit">submit</button>
</form>