#home-container{
    margin:0px;
    display: flex;
    #feed-posts{
        width: 80vw;
        
        padding: 10px;
    }
    #user-friends{
        width: 20vw;
        height:100vh;
        padding: 10px;
        border-left: 2px solid black  ;
    }
}